*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --clr: #000155;
    --background: #b1daff;
}
hr
{
    color: var(--clr);
}
body
{
    background-color: var(--background);
}