<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Quiz App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
      <div class="container bg-primary mt-5 pt-5">
          <div class="col-md-6 mx-auto">
            <form>

            <div class="form-group bg-info">
              <label>Select Category</label>
              <select name="category" class="form-control bg-warning">
                  <option value="Choose">Choose</option>
                  {% for category in categories %}
                  <option value="{{category.category_name}}">{{category.category_name}}</option>
                  {% endfor %}
              </select>
            </div>
            <button class="btn btn-danger mt-3">Submit</button>
            </form>
          </div>
      </div>
  </body>
</html>